body{
    background-image: url(../img/Eating-ice-cream_1920x1080.jpg);

}
.position-fixed{
    position: fixed;
    min-height: 183px;
    width: 100%;
    /*text-align: center;*/
    word-wrap: break-word;
    background-color: rgba(216, 179, 131, 0.529);
}
#boton1{
    margin-left: 15px;
}
#boton2{
    margin-left: 15px;

}
a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}
#topHeaderEmp{
    height: 1px;
}
#navContainerEmpl{
    padding: 1rem;
    height: 109px;
}
#containerPrincipal{
    height: 20%;
}
#LateralIzquierdo{
    margin-top: 15px;
    position: absolute;
    height: 70%;
    width: 100%;
    background-color: rgba(190, 187, 196, 0.713);
}
